/* universal common*/
* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ............
nav part design
........... */
.header {
    background-color: #FFF4E7;
}

.header nav {
    display: flex;
    justify-content: space-around;
    column-gap: 100px;
    padding: 0 30px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    font-size: 18px;
    list-style: none;
    margin-left: 30px;
    color: #424242;
}

nav li a {
    text-decoration: none;
}

/* banner style */
.banner {
    text-align: center;
}

.banner-title {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    margin: 0 300px;
    padding: 0;
}

.banner-title2 {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
    margin: 0 230px;

}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 0 226px 20px 226px;
}

.btn {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;

}

.banner img {
    width: 850px;
    height: 450px;
    margin: 40px 110px;
}

/* ................
section of feature style
................. */
.features-container {
    margin-top: 60px;
}

.feature {
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-left: 150px;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.text-feature {
    padding-right: 100px;
}

.text-feature .feature-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.feature-title .span-1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.feature-title .span-2 {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

/* new section of features style */
.section-container {
    margin-top: 70px;
}

.sections {
    display: flex;
    justify-content: space-around;
}

.vl {
    border-left: 6px solid #FF900E;
    height: 100px;
    margin-left: 30px;
}

.section-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 0;
    padding-right: 30px;
    padding-left: 12px;
}

.section-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-left: 32px;
    margin-bottom: 80px;
    margin-top: 40px;
}

.facility-container {
    padding-left: 50px;
    margin-bottom: 80px;
    background: #FFFFFF;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.facility-container .name {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.facility-container .description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-right: 110px;
}

.image .button {
    position: relative;
    bottom: 120px;
    right: 70px;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    padding: 30px;
}

.experience {
    font-size: 25px;
    color: #FFFFFF;
    padding-bottom: 100px;
}

/* some fact section style */
.facts-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-left: 40px;
    margin-bottom: 0;
}

.facts-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 585px;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.icon {
    border: 2px solid #FF900E;
    text-align: center;
    padding: 10px 30px;
    transition: transform 5s ease .5s;

}
.icon:hover{
    background-color: yellowgreen;
    transform: translate(30%, 40%);
   
}

.icon img {
    padding-top: 30px;
}

.icon .number {
    font-size: 45px;
    color: #424242;
    margin-top: 0;
}

.icon .category {
    font-size: 20px;
    color: #727272;
    padding-top: 0;
}
/* extra section */
.extra{
    margin: 80px 40px 30px 40px;
}
.innovation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.innovation-title{
    font-size: 32px;
    padding-top: 30px;
}
.innovation-description{
    font-size: 14px;
    padding-bottom: 30px;
}

/* footer part style */
.footer {
    text-align: center;
    margin-top: 70px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 0;
}

.footer-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 0 350px;
    margin-bottom: 40px;


}

.sponsors {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin: 0 70px 40px 70px;

}

.end-part {
    margin: 0px 400px;
    

}

.copyright {
   
    font-weight: 400;
    font-size: 14px;
    color: #424242;
    background: #FFF4E7;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 13px;
}

/* media query for small device */
@media only screen and (max-width:688px) {

    .header {
        text-align: center;
    }

    .header nav {
        flex-direction: column;
        text-align: center;
        padding-top: 30px;
    }

    nav ul {
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
    }

    .banner-title,
    .banner-title2 {
        align-items: center;
        margin: 0 130px;
    }

    .banner img {
        width: 500px;
        height: 300px;
        margin: 5px 0px;
        position: center;

    }

    .feature {
        flex-direction: column;
        row-gap: 30px;
        margin-left: 70px;
    }

    .pictures {
        grid-template-columns: repeat(1, 1fr);

    }

    .sections {
        flex-direction: column;
    }

    .section-description {
        margin-top: 40px;
    }

    .image .button {
        position: relative;
        top: 70px;
        left: 170px;
    }
    

    .icons {
        flex-direction: column;
        justify-content: center;
        margin: 0 250px;
        row-gap: 10px;

    }

    .facts-title {
        margin-top: 150px;
        text-align: center;
    }

    .facts-description {
        text-align: center;
        margin: 20px 150px 20px 150px;
    }
    .innovation{
        flex-direction: column-reverse;
    }

    .footer-description {
        margin: 20px 40px;
        text-align: center;
        padding: 0;
    }

    .sponsors {
        flex-direction: column;
        row-gap: 5px;

    }
    .end-part{
       display: none;

    }
    
    




}